      <aside class="left-sidebar">
        <div class="sidebar-section">
          <div class="sidebar-title">Currently:</div>
          <ul>
            <li>Watching:</li>
              <ul class="sublist">
                <li>JJK S3</li>
                <li>Hell's Paradise S2</li>
                <li>Frieren S2</li>
                <li>The Pitt S2</li>
              </ul>
            <li>Reading:</li>
              <ul class="sublist">
                <li>East of Eden by John Steinbeck</li>
              </ul>
            <li>Playing:</li>
              <ul class="sublist">
                <li>Advance Wars</li>
                <li>Pokemon Unbound</li>
                <li>Drill Dozer</li>
                <li>Pokemon Legends: Z-A</li>
              </ul>            
          </ul>  
        </div>

        <div>
	        <p>Number of Clicks!
	        <script type="text/javascript" src="https://counter.websiteout.com/js/11/6/0/1"></script>
          </p>  
        </div>

        <div class="sidebar-section">
          <div class="sidebar-title">Site links</div>
          <ul>
            <li><a href="{{ "/sitemap/" | relURL}} {{ . | urlize }}">Sitemap</a></li>
            <li><a href="{{ "/changelog/" | relURL}} {{ . | urlize }}">Changelog</a></li>
            <li><a href="{{ "/guestbook/" | relURL}} {{ . | urlize }}">Guestbook</a></li>
            <li><a href="{{ "/resources/" | relURL}} {{ . | urlize }}">Resources</a></li>
          </ul>
        </div>
      
        <!--
        <div class="sidebar-section">
          <div class="sidebar-title">Section Title</div>
          <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>Necessit atibus perferendis inventore tempore vel optio similique blanditiis quasi quam?</p>
          </blockquote>
        </div>
        
        <div class="sidebar-section">
          <div class="sidebar-title">Section Title</div>
          <ul>
            <li>List</li>
            <li>List</li>
            <li><a href="/">List</a></li>
            <li>List</li>
          </ul>
        </div>
        
        <div class="sidebar-section">
          <div class="sidebar-title">Section Title</div>
          <marquee>
          	<a href="https://petrapixel.neocities.org/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/img/linkback.gif" alt="petrapixel"></a>
          	<a href="https://petrapixel.neocities.org/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/img/linkback.gif" alt="petrapixel"></a>
          	<a href="https://petrapixel.neocities.org/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/img/linkback.gif" alt="petrapixel"></a>
          	<a href="https://petrapixel.neocities.org/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/img/linkback.gif" alt="petrapixel"></a>
          </marquee>
        </div>
        
        <div class="sidebar-section">
          <div class="sidebar-title">Section Title</div>
          <img class="full-width-image" src="https://picsum.photos/id/141/1000/400">
        </div>
        
        <div class="sidebar-section">
          <div class="sidebar-title">Section Title</div>
          <div class="site-button">
          	<a href="https://petrapixel.neocities.org/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/img/linkback.gif" alt="petrapixel"></a>
        	<textarea><a href="https://petrapixel.neocities.org/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/img/linkback.gif" alt="petrapixel"></a></textarea>
          </div>
        </div>
        -->
      </aside>