<div id='gamer-ring'>
<script type="text/javascript" src="https://gamerring.neocities.org/js/variables.js"></script>
<script type="text/javascript" src="https://gamerring.neocities.org/js/widget-minimal.js"></script>
</div>

<div>
<a href='https://webring.dinhe.net/prev/https://raveen.ca'>Previous</a>
Retronaut Webring
<a href='https://webring.dinhe.net/next/https://raveen.ca'>Next</a>
</div>

<!-- CDRING START -->
<div id='cdr'>
<script type="text/javascript" src="https://cdring.neocities.org/cdring/onionring-variables.js"></script>
<script type="text/javascript" src="https://cdring.neocities.org/cdring/onionring-widget.js"></script>
</div>
<!-- CDRING END --> 